doctype html
html.loading(lang='en' data-textdirection='ltr')
  // BEGIN: Head
  head
    meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui')
    meta(name='description' content='Stack admin is super flexible, powerful, clean & modern responsive bootstrap 4 admin template with unlimited possibilities.')
    meta(name='keywords' content='admin template, stack admin template, dashboard template, flat admin template, responsive admin template, web app')
    meta(name='author' content='PIXINVENT')
    title Chat 
    link(rel='apple-touch-icon' href='/images/ico/apple-icon-120.png')
    link(rel='shortcut icon' type='image/x-icon' href='/images/ico/favicon.ico')
    link(href='https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i%7COpen+Sans:300,300i,400,400i,600,600i,700,700i' rel='stylesheet')
    // BEGIN: Vendor CSS
    link(rel='stylesheet' type='text/css' href='/css/vendors.min.css')
    // END: Vendor CSS
    // BEGIN: Theme CSS
    link(rel='stylesheet' type='text/css' href='css/bootstrap.min.css')
    link(rel='stylesheet' type='text/css' href='/css/bootstrap-extended.min.css')
    link(rel='stylesheet' type='text/css' href='/css/colors.min.css')
    link(rel='stylesheet' type='text/css' href='/css/components.min.css')
    // END: Theme CSS
    // BEGIN: Page CSS
    link(rel='stylesheet' type='text/css' href='/css/vertical-menu-modern.css')
    link(rel='stylesheet' type='text/css' href='/css/palette-gradient.min.css')
    link(rel='stylesheet' type='text/css' href='/css/fonts/style.min.css')
    link(rel='stylesheet' type='text/css' href='/css/app-chat.min.css')
    // END: Page CSS
    // BEGIN: Custom CSS
    link(rel='stylesheet' type='text/css' href='/css/style.css')
    // END: Custom CSS
    // END: Head
    // BEGIN: Body
    body.vertical-layout.vertical-menu-modern.content-left-sidebar.chat-application.fixed-navbar(data-open='click' data-menu='vertical-menu-modern' data-col='content-left-sidebar')
      // BEGIN: Header
      nav.header-navbar.navbar-expand-lg.navbar.navbar-with-menu.fixed-top.navbar-semi-dark
        .navbar-wrapper
          .navbar-header
            ul.nav.navbar-nav.flex-row
              li.nav-item.mobile-menu.d-lg-none.mr-auto
                a.nav-link.nav-menu-main.menu-toggle.hidden-xs(href='#')
                  i.feather.icon-menu.font-large-1
              li.nav-item.mr-auto
                a.navbar-brand(href='/index.html')
                  img.brand-logo(alt='stack admin logo' src='/images/stack-logo-light.png')
                  h2.brand-text JS
              li.nav-item.d-none.d-lg-block.nav-toggle
                a.nav-link.modern-nav-toggle.pr-0(data-toggle='collapse')
                  i.toggle-icon.feather.icon-toggle-right.font-medium-3.white(data-ticon='feather.icon-toggle-right')
              li.nav-item.d-lg-none
                a.nav-link.open-navbar-container(data-toggle='collapse' data-target='#navbar-mobile')
                  i.fa.fa-ellipsis-v
          .navbar-container.content
            #navbar-mobile.collapse.navbar-collapse
              ul.nav.navbar-nav.mr-auto.float-left
                li.dropdown.nav-item.mega-dropdown.d-none.d-lg-block
                  a.dropdown-toggle.nav-link(href='#' data-toggle='dropdown') JS
                  ul.mega-dropdown-menu.dropdown-menu.row.p-1
                    li.col-md-5.px-2
                      ul.row.mt-2
                        li.col-6.col-xl-4
                          a.text-center.mb-2.mb-xl-3(href='chat.html' target='_blank')
                            i.feather.icon-message-square.font-large-1.mr-0
                            p.font-medium-2.mt-25.mb-0 Tin nhắn
                        li.col-6.col-xl-4
                          a.text-center.mb-2.mb-xl-3.mt-75.mt-xl-0(href='app-todo.html' target='_blank')
                            i.feather.icon-check-square.font-large-1.mr-0
                            p.font-medium-2.mt-25.mb-0 Việc cần làm
                        li.col-6.col-xl-4
                          a.text-center.mb-2.mt-75.mt-xl-0(href='table.html' target='_blank')
                            i.feather.icon-file-plus.font-large-1.mr-0
                            p.font-medium-2.mt-25.mb-50 Bảng
                        li.col-6.col-xl-4
                          a.text-center.mb-2.mt-75.mt-xl-0(href='member.html' target='_blank')
                            i.feather.icon-users.font-large-1.mr-0
                            p.font-medium-2.mt-25.mb-50 Thành viên
                // <li class="nav-item d-none d-md-block"><a class="nav-link nav-link-expand" href="#"><i class="ficon feather icon-maximize"></i></a></li>
                li.nav-item.nav-search
                  a.nav-link.nav-link-search(href='#')
                    i.ficon.feather.icon-search
                  .search-input
                    input.input(type='text' placeholder='Explore Stack...' tabindex='0' data-search='template-search')
                    .search-input-close
                      i.feather.icon-x
                    ul.search-list
              ul.nav.navbar-nav.float-right
                //
                  <li class="dropdown dropdown-language nav-item"><a class="dropdown-toggle nav-link" id="dropdown-flag" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="flag-icon flag-icon-gb"></i><span class="selected-language"></span></a>
                  <div class="dropdown-menu" aria-labelledby="dropdown-flag"><a class="dropdown-item" href="#" data-language="en"><i class="flag-icon flag-icon-us"></i> English</a><a class="dropdown-item" href="#" data-language="fr"><i class="flag-icon flag-icon-fr"></i> French</a><a class="dropdown-item" href="#" data-language="pt"><i class="flag-icon flag-icon-pt"></i> Portuguese</a><a class="dropdown-item" href="#" data-language="de"><i class="flag-icon flag-icon-de"></i> German</a></div>
                  </li>
                li.dropdown.dropdown-notification.nav-item
                  a.nav-link.nav-link-label(href='#' data-toggle='dropdown')
                    i.ficon.feather.icon-bell
                    span.badge.badge-pill.badge-danger.badge-up 5
                  ul.dropdown-menu.dropdown-menu-media.dropdown-menu-right
                    li.dropdown-menu-header
                      h6.dropdown-header.m-0
                        span.grey.darken-2 Notifications
                        span.notification-tag.badge.badge-danger.float-right.m-0 5 New
                    li.scrollable-container.media-list
                      a(href='javascript:void(0)')
                        .media
                          .media-left.align-self-center
                            i.feather.icon-plus-square.icon-bg-circle.bg-cyan
                          .media-body
                            h6.media-heading You have new order!
                            p.notification-text.font-small-3.text-muted Lorem ipsum dolor sit amet, consectetuer elit.
                            small
                              time.media-meta.text-muted(datetime='2015-06-11T18:29:20+08:00') 30 minutes ago
                      a(href='javascript:void(0)')
                        .media
                          .media-left.align-self-center
                            i.feather.icon-download-cloud.icon-bg-circle.bg-red.bg-darken-1
                          .media-body
                            h6.media-heading.red.darken-1 99% Server load
                            p.notification-text.font-small-3.text-muted Aliquam tincidunt mauris eu risus.
                            small
                              time.media-meta.text-muted(datetime='2015-06-11T18:29:20+08:00') Five hour ago
                      a(href='javascript:void(0)')
                        .media
                          .media-left.align-self-center
                            i.feather.icon-alert-triangle.icon-bg-circle.bg-yellow.bg-darken-3
                          .media-body
                            h6.media-heading.yellow.darken-3 Warning notifixation
                            p.notification-text.font-small-3.text-muted Vestibulum auctor dapibus neque.
                            small
                              time.media-meta.text-muted(datetime='2015-06-11T18:29:20+08:00') Today
                      a(href='javascript:void(0)')
                        .media
                          .media-left.align-self-center
                            i.feather.icon-check-circle.icon-bg-circle.bg-cyan
                          .media-body
                            h6.media-heading Complete the task
                            small
                              time.media-meta.text-muted(datetime='2015-06-11T18:29:20+08:00') Last week
                      a(href='javascript:void(0)')
                        .media
                          .media-left.align-self-center
                            i.feather.icon-file.icon-bg-circle.bg-teal
                          .media-body
                            h6.media-heading Generate monthly report
                            small
                              time.media-meta.text-muted(datetime='2015-06-11T18:29:20+08:00') Last month
                    li.dropdown-menu-footer
                      a.dropdown-item.text-muted.text-center(href='javascript:void(0)') Read all notifications
                li.dropdown.dropdown-notification.nav-item
                  a.nav-link.nav-link-label(href='#' data-toggle='dropdown')
                    i.ficon.feather.icon-mail
                    span.badge.badge-pill.badge-warning.badge-up 3
                  ul.dropdown-menu.dropdown-menu-media.dropdown-menu-right
                    li.dropdown-menu-header
                      h6.dropdown-header.m-0
                        span.grey.darken-2 Messages
                        span.notification-tag.badge.badge-warning.float-right.m-0 4 New
                    li.scrollable-container.media-list
                      a(href='javascript:void(0)')
                        .media
                          .media-left
                            .avatar.avatar-online.avatar-sm.rounded-circle
                              img(src='/images/avatar-s-1.png' alt='avatar')
                              i
                          .media-body
                            h6.media-heading Margaret Govan
                            p.notification-text.font-small-3.text-muted I like your portfolio, let's start.
                            small
                              time.media-meta.text-muted(datetime='2015-06-11T18:29:20+08:00') Today
                      a(href='javascript:void(0)')
                        .media
                          .media-left
                            span.avatar.avatar-sm.avatar-busy.rounded-circle
                              img(src='/images/avatar-s-2.png' alt='avatar')
                              i
                          .media-body
                            h6.media-heading Bret Lezama
                            p.notification-text.font-small-3.text-muted I have seen your work, there is
                            small
                              time.media-meta.text-muted(datetime='2015-06-11T18:29:20+08:00') Tuesday
                      a(href='javascript:void(0)')
                        .media
                          .media-left
                            .avatar.avatar-online.avatar-sm.rounded-circle
                              img(src='/images/avatar-s-3.png' alt='avatar')
                              i
                          .media-body
                            h6.media-heading Carie Berra
                            p.notification-text.font-small-3.text-muted Can we have call in this week ?
                            small
                              time.media-meta.text-muted(datetime='2015-06-11T18:29:20+08:00') Friday
                      a(href='javascript:void(0)')
                        .media
                          .media-left
                            span.avatar.avatar-sm.avatar-away.rounded-circle
                              img(src='/images/avatar-s-6.png' alt='avatar')
                              i
                          .media-body
                            h6.media-heading Eric Alsobrook
                            p.notification-text.font-small-3.text-muted We have project party this saturday.
                            small
                              time.media-meta.text-muted(datetime='2015-06-11T18:29:20+08:00') last month
                    li.dropdown-menu-footer
                      a.dropdown-item.text-muted.text-center(href='chat.html') Read all messages
                li.dropdown.dropdown-user.nav-item
                  a.dropdown-toggle.nav-link.dropdown-user-link(href='#' data-toggle='dropdown')
                    .avatar.avatar-online
                      img(src='/images/avatar-s-1.png' alt='avatar')
                      i
                    span.user-name Ram Ram
                  .dropdown-menu.dropdown-menu-right
                    a.dropdown-item(href='account.html')
                      i.feather.icon-user
                      |  Edit Profile
                    a.dropdown-item(href='todo.html')
                      i.feather.icon-check-square
                      |  Task
                    a.dropdown-item(href='chat.html')
                      i.feather.icon-message-square
                      |  Chats
                    .dropdown-divider
                    a.dropdown-item(href='login.html')
                      i.feather.icon-power
                      |  Logout
      // END: Header
      // BEGIN: Main Menu
      .main-menu.menu-fixed.menu-dark.menu-accordion.menu-shadow(data-scroll-to-active='true')
        .main-menu-content
          ul#main-menu-navigation.navigation.navigation-main(data-menu='menu-navigation')
            li.navigation-header
              span Tổng quan
              i.feather.icon-minus(data-toggle='tooltip' data-placement='right' data-original-title='General')
            li.nav-item
              a(href='index.html')
                i.feather.icon-layout
                span.menu-title(data-i18n='Layouts') Bảng
              //
                <ul class="menu-content">
                <li><a class="menu-item" href="#" data-i18n="Page Layouts">Page Layouts</a>
                <ul class="menu-content">
                <li><a class="menu-item" href="layout-1-column.html" data-i18n="1 column">1 column</a>
                </li>
                <li><a class="menu-item" href="#" data-i18n="Content Det Sidebar">Content Det Sidebar</a>
                <ul class="menu-content">
                <li><a class="menu-item" href="layout-content-detached-left-sidebar.html" data-i18n="Detached left sidebar">Detached left sidebar</a>
                </li>
                </ul>
                </li>
                <li class="navigation-divider"></li>
                <li><a class="menu-item" href="layout-fixed-navbar.html" data-i18n="Fixed navbar">Fixed navbar</a>
                </li>
                <li class="navigation-divider"></li>
                <li><a class="menu-item" href="layout-fixed.html" data-i18n="Fixed layout">Fixed layout</a>
                </li>
                <li class="navigation-divider"></li>
                <li><a class="menu-item" href="layout-light.html" data-i18n="Light layout">Light layout</a>
                </li>
                </ul>
                </li>
                <li><a class="menu-item" href="#" data-i18n="Navbars">Navbars</a>
                <ul class="menu-content">
                <li><a class="menu-item" href="navbar-light.html" data-i18n="Navbar Light">Navbar Light</a>
                </li>
                <li><a class="menu-item" href="#" data-i18n="Hide on Scroll">Hide on Scroll</a>
                <ul class="menu-content">
                <li><a class="menu-item" href="navbar-hide-on-scroll-top.html" data-i18n="Hide on Scroll Top">Hide on Scroll Top</a>
                </li>
                </ul>
                </li>
                <li><a class="menu-item" href="navbar-components.html" data-i18n="Navbar Components">Navbar Components</a>
                </li>
                </ul>
                </li>
                <li><a class="menu-item" href="#" data-i18n="Vertical Nav">Vertical Nav</a>
                <ul class="menu-content">
                <li><a class="menu-item" href="#" data-i18n="Navigation Types">Navigation Types</a>
                <ul class="menu-content">
                <li><a class="menu-item" href="../vertical-menu-template" data-i18n="Vertical Menu">Vertical Menu</a>
                </li>
                </ul>
                </li>
                <li><a class="menu-item" href="vertical-nav-tags-pills.html" data-i18n="Tags &amp; Pills">Tags &amp; Pills</a>
                </li>
                </ul>
                </li>
                <li><a class="menu-item" href="#" data-i18n="Horizontal Nav">Horizontal Nav</a>
                <ul class="menu-content">
                <li><a class="menu-item" href="#" data-i18n="Navigation Types">Navigation Types</a>
                <ul class="menu-content">
                <li><a class="menu-item" href="../horizontal-menu-template" data-i18n="Classic">Classic</a>
                </li>
                <li><a class="menu-item" href="../horizontal-menu-template-nav" data-i18n="Nav Dark">Nav Dark</a>
                </li>
                </ul>
                </li>
                </ul>
                </li>
                <li><a class="menu-item" href="#" data-i18n="Page Headers">Page Headers</a>
                <ul class="menu-content">
                <li><a class="menu-item" href="headers-breadcrumbs-basic.html" data-i18n="Breadcrumbs basic">Breadcrumbs basic</a>
                </li>
                </ul>
                </li>
                <li><a class="menu-item" href="#" data-i18n="Footers">Footers</a>
                <ul class="menu-content">
                <li><a class="menu-item" href="footer-light.html" data-i18n="Footer Light">Footer Light</a>
                </li>
                </ul>
                </li>
                </ul>
            li.navigation-header
              span Các Nhóm
              i.feather.icon-minus(data-toggle='tooltip' data-placement='right' data-original-title='Apps')
            li.nav-item
              a(href='')
                i.feather.icon-users
                span.menu-title(data-i18n='Contacts') Front-end
              ul.menu-content
                li
                  a.menu-item(href='alltable.html' data-i18n='Page Layouts') Bảng
                li
                  a.menu-item(href='member.html' data-i18n='Page Layouts') Thành viên
                li
                  a.menu-item(href='todo.html' data-i18n='Page Layouts') Việc cần làm
            li.nav-item
              a(href='')
                i.feather.icon-users
                span.menu-title(data-i18n='Contacts') Intership
              ul.menu-content
                li
                  a.menu-item(href='alltable.html' data-i18n='Page Layouts') Bảng
                li
                  a.menu-item(href='member.html' data-i18n='Page Layouts') Thành viên
                li
                  a.menu-item(href='todo.html' data-i18n='Page Layouts') Việc cần làm
            li.nav-item
              a(href='')
                i.feather.icon-users
                span.menu-title(data-i18n='Contacts') Web project
              ul.menu-content
                li
                  a.menu-item(href='alltable.html' data-i18n='Page Layouts') Bảng
                li
                  a.menu-item(href='member.html' data-i18n='Page Layouts') Thành viên
                li
                  a.menu-item(href='todo.html' data-i18n='Page Layouts') Việc cần làm
            //
              <li class=" nav-item"><a href="chat.html"><i class="feather icon-message-square"></i><span class="menu-title" data-i18n="Chat Application">Chat Application</span></a>
              </li>
              <li class=" nav-item"><a href="todo.html"><i class="feather icon-check-square"></i><span class="menu-title" data-i18n="Todo Application">Todo Application</span></a>
              </li>
              <li class=" nav-item"><a href="table.html"><i class="feather icon-file-plus"></i><span class="menu-title" data-i18n="Kanban Application">Kanban Application</span></a>
              </li>
              <li class=" nav-item"><a href="member.html"><i class="feather icon-users"></i><span class="menu-title" data-i18n="Contacts">Thành viên</span></a>
              </li>
            li.navigation-header
              span Các Trang
              i.feather.icon-minus(data-toggle='tooltip' data-placement='right' data-original-title='Pages')
            li.nav-item
              a(href='calendar.html')
                i.feather.icon-plus-square
                span.menu-title(data-i18n='Calender') Calender
      // END: Main Menu
      // BEGIN: Content
      .app-content.content
        .sidebar-left
          .sidebar
            // app chat user profile left sidebar start
            .chat-user-profile
              header.chat-user-profile-header.text-center.border-bottom
                span.chat-profile-close
                  i.feather.icon-x
                .my-2
                  img.round.mb-1(src='/images/avatar-s-11.png' alt='user_avatar' height='100' width='100')
                  h5.mb-0 John Doe
                  span Designer
              .chat-user-profile-content
                .chat-user-profile-scroll
                  h6.text-uppercase.mb-1 ABOUT
                  p.mb-2
                    | It is a long established fact that a reader will be distracted by the readable content .
                  h6 PERSONAL INFORAMTION
                  ul.list-unstyled.mb-2
                    li.mb-25 email@gmail.com
                    li +1(789) 950 -7654
                  h6.text-uppercase.mb-1 CHANNELS
                  ul.list-unstyled.mb-2
                    li
                      a(href='javascript:void(0);') # Devlopers
                    li
                      a(href='javascript:void(0);') # Designers
                  h6.text-uppercase.mb-1 SETTINGS
                  ul.list-unstyled
                    li.mb-50
                      a.d-flex.align-items-center(href='javascript:void(0);')
                        i.feather.icon-tag.mr-50
                        |                         Add
                        |                         Tag
                    li.mb-50
                      a.d-flex.align-items-center(href='javascript:void(0);')
                        i.feather.icon-star.mr-50
                        |                         Important Contact
                    li.mb-50
                      a.d-flex.align-items-center(href='javascript:void(0);')
                        i.feather.icon-image.mr-50
                        |                         Shared
                        |                         Documents
                    li.mb-50
                      a.d-flex.align-items-center(href='javascript:void(0);')
                        i.feather.icon-trash-2.mr-50
                        |                         Deleted
                        |                         Documents
                    li
                      a.d-flex.align-items-center(href='javascript:void(0);')
                        i.feather.icon-x-circle.mr-50
                        |                         Blocked
                        |                         Contact
            // app chat user profile left sidebar ends
            // app chat sidebar start
            .chat-sidebar.card
              span.chat-sidebar-close
                i.feather.icon-x
              .chat-sidebar-search
                .d-flex.align-items-center
                  .chat-sidebar-profile-toggle
                    .avatar
                      img(src='/images/avatar-s-11.png' alt='user_avatar' height='36' width='36')
                  fieldset.form-group.position-relative.has-icon-left.mx-75.mb-0
                    input#chat-search.form-control.round(type='text' placeholder='Search')
                    .form-control-position
                      i.feather.icon-search.text-dark
              .chat-sidebar-list-wrapper.pt-2
                h6.px-2.pb-25.mb-0
                  | CHANNELS
                  i.feather.icon-plus.float-right.cursor-pointer
                ul.chat-sidebar-list
                  li
                    h6.mb-0 # Devlopers
                  li
                    h6.mb-0 # Designers
                h6.px-2.pt-2.pb-25.mb-0 CHATS
                ul.chat-sidebar-list
                  li
                    .d-flex.align-items-center
                      .avatar.avatar-busy.m-0.mr-50
                        img(src='/images/avatar-s-26.png' height='36' width='36' alt='sidebar user image')
                        i
                      .chat-sidebar-name.pl-1
                        h6.mb-0 Elizabeth Elliott
                        span.text-muted Cake pie
                  li
                    .d-flex.align-items-center
                      .avatar.avatar-online.m-0.mr-50
                        img(src='/images/avatar-s-7.png' height='36' width='36' alt='sidebar user image')
                        i
                      .chat-sidebar-name.pl-1
                        h6.mb-0 Kristopher Candy
                        span.text-muted jelly jelly
                h6.px-2.pt-2.pb-25.mb-0
                  | CONTACTS
                  i.feather.icon-plus.float-right.cursor-pointer
                ul.chat-sidebar-list
                  li
                    .d-flex.align-items-center
                      .avatar.avatar-away.m-0.mr-50
                        img(src='/images/avatar-s-8.png' height='36' width='36' alt='sidebar user image')
                        i
                      .chat-sidebar-name.pl-1
                        h6.mb-0 Sarah Woods
                        span.text-muted  lemon drops
                  li
                    .d-flex.align-items-center
                      .avatar.avatar-offline.bg-info.m-0.mr-50
                        | JP
                        i
                      .chat-sidebar-name.pl-1
                        h6.mb-0 Jenny Perich
                        span.text-muted candy canes.
                  li
                    .d-flex.align-items-center
                      .avatar.avatar-online.m-0.mr-50
                        img(src='/images/avatar-s-5.png' height='36' width='36' alt='sidebar user image')
                        i
                      .chat-sidebar-name.pl-1
                        h6.mb-0 Rock Montgomery
                        span.text-muted powder gum
                  li
                    .d-flex.align-items-center
                      .avatar.avatar-busy.m-0.mr-50
                        img(src='/images/avatar-s-9.png' height='36' width='36' alt='sidebar user image')
                        i
                      .chat-sidebar-name.pl-1
                        h6.mb-0 Heather Howell
                        span.text-muted cheesecake toffee
                  li
                    .d-flex.align-items-center
                      .avatar.avatar-offline.m-0.mr-50.bg-success
                        | KR
                        i
                      .chat-sidebar-name.pl-1
                        h6.mb-0 Kelly Reyes
                        span.text-muted gingerbread
                  li
                    .d-flex.align-items-center
                      .avatar.avatar-away.m-0.mr-50
                        img(src='/images/avatar-s-5.png' height='36' width='36' alt='sidebar user image')
                        i
                      .chat-sidebar-name.pl-1
                        h6.mb-0 Rock Montgomery
                        span.text-muted powder gum
                  li
                    .d-flex.align-items-center
                      .avatar.avatar-offline.bg-info.m-0.mr-50
                        | JP
                        i
                      .chat-sidebar-name.pl-1
                        h6.mb-0 Jenny Perich
                        span.text-muted candy canes.
                  li
                    .d-flex.align-items-center
                      .avatar.avatar-online.m-0.mr-50
                        img(src='/images/avatar-s-14.png' height='36' width='36' alt='sidebar user image')
                        i
                      .chat-sidebar-name.pl-1
                        h6.mb-0 Vince Nelson
                        span.text-muted Puddingdrops
                  li
                    .d-flex.align-items-center
                      .avatar.avatar-offline.m-0.mr-50
                        img(src='/images/avatar-s-3.png' height='36' width='36' alt='sidebar user image')
                        i
                      .chat-sidebar-name.pl-1
                        h6.mb-0 Drake Elliott
                        span.text-muted jelly helloi
                  li
                    .d-flex.align-items-center
                      .avatar.avatar-online.m-0.mr-50
                        img(src='/images/avatar-s-7.png' height='36' width='36' alt='sidebar user image')
                        i
                      .chat-sidebar-name.pl-1
                        h6.mb-0 Kristopher Candy
                        span.text-muted jujubes
                  li
                    .d-flex.align-items-center
                      .avatar.bg-info.m-0.mr-50
                        | JP
                        span.avatar-status-offline
                      .chat-sidebar-name.pl-1
                        h6.mb-0 Jenny Perich
                        span.text-muted candy canes.
                  li
                    .d-flex.align-items-center
                      .avatar.m-0.mr-50
                        img(src='/images/avatar-s-15.png' height='36' width='36' alt='sidebar user image')
                        span.avatar-status-online
                      .chat-sidebar-name.pl-1
                        h6.mb-0 Ammy perry
                        span.text-muted canvas.
                  li
                    .d-flex.align-items-center
                      .avatar.m-0.mr-50
                        img(src='/images/avatar-s-22.png' height='36' width='36' alt='sidebar user image')
                        span.avatar-status-online
                      .chat-sidebar-name.pl-1
                        h6.mb-0 Jenny Perich
                        span.text-muted frooti james.
            // app chat sidebar ends
        .content-right
          .content-overlay
          .content-wrapper
            .content-header.row
            .content-body
              // app chat overlay
              .chat-overlay
              // app chat window start
              section.chat-window-wrapper
                .chat-start
                  span.feather.icon-message-square.chat-sidebar-toggle.chat-start-icon.font-large-3.p-3.mb-1
                  h4.d-none.d-lg-block.py-50.text-bold-500 Select a contact to start a chat!
                  button.btn.btn-light-primary.chat-start-text.chat-sidebar-toggle.d-block.d-lg-none.py-50.px-1
                    | Start
                    | Conversation!
                .chat-area.d-none
                  .chat-header
                    header.d-flex.justify-content-between.align-items-center.px-1.py-75
                      .d-flex.align-items-center
                        .chat-sidebar-toggle.d-block.d-lg-none.mr-1
                          i.feather.icon-menu.font-large-1.cursor-pointer
                        .avatar.avatar-busy.chat-profile-toggle.m-0.mr-1
                          img(src='/images/avatar-s-26.png' alt='avatar' height='36' width='36')
                          i
                        h6.mb-0 Elizabeth Elliott
                      .chat-header-icons
                        i.chat-icon-favorite
                          i.feather.icon-star.font-medium-4.cursor-pointer
                        span.dropdown
                          i#dropdownMenuButton.feather.icon-more-vertical.font-medium-4.ml-25.cursor-pointer.dropdown-toggle.nav-hide-arrow.cursor-pointer(data-toggle='dropdown' aria-haspopup='true' aria-expanded='false' role='menu')
                          span.dropdown-menu.dropdown-menu-right(aria-labelledby='dropdownMenuButton')
                            a.dropdown-item(href='JavaScript:void(0);')
                              i.feather.icon-tag.mr-25
                              |  Pin to top
                            a.dropdown-item(href='JavaScript:void(0);')
                              i.feather.icon-trash-2.mr-25
                              |  Delete
                              |                 chat
                            a.dropdown-item(href='JavaScript:void(0);')
                              i.feather.icon-x-circle.mr-25
                              |  Block
                  // chat card start
                  .card.chat-wrapper.shadow-none.mb-0
                    .card-content
                      .card-body.chat-container
                        .chat-content
                          .chat
                            .chat-avatar
                              a.avatar.m-0
                                img(src='/images/avatar-s-11.png' alt='avatar' height='36' width='36')
                            .chat-body
                              .chat-message
                                p How can we help? We're here for you! 😄
                                span.chat-time 7:45 AM
                          .chat.chat-left
                            .chat-avatar
                              a.avatar.m-0
                                img(src='/images/avatar-s-26.png' alt='avatar' height='36' width='36')
                            .chat-body
                              .chat-message
                                p Hey John, I am looking for the best admin template.
                                p Could you please help me to find it out? 🤔
                                span.chat-time 7:50 AM
                              .chat-message
                                p It should be Bootstrap 4 🤩 compatible.
                                span.chat-time 7:58 AM
                          .badge.badge-pill.badge-light-secondary.my-1 Yesterday
                          .chat
                            .chat-avatar
                              a.avatar.m-0
                                img(src='/images/avatar-s-11.png' alt='avatar' height='36' width='36')
                            .chat-body
                              .chat-message
                                p Absolutely!
                                span.chat-time 8:00 AM
                              .chat-message
                                p hello.
                                span.chat-time 8:01 AM
                          .chat.chat-left
                            .chat-avatar
                              a.avatar.m-0
                                img(src='/images/avatar-s-26.png' alt='avatar' height='36' width='36')
                            .chat-body
                              .chat-message
                                p Looks clean and fresh UI. 😃
                                span.chat-time 10:12 AM
                              .chat-message
                                p It's perfect for my next project.
                                span.chat-time 10:15 AM
                              .chat-message
                                p How can I purchase 🤑 it?
                                span.chat-time 10:18 AM
                          .chat
                            .chat-avatar
                              a.avatar.m-0
                                img(src='/images/avatar-s-11.png' alt='avatar' height='36' width='36')
                            .chat-body
                              .chat-message
                                p Thanks 🤝 , from ThemeForest.
                                span.chat-time 10:20 AM
                          .chat.chat-left
                            .chat-avatar
                              a.avatar.m-0
                                img(src='/images/avatar-s-26.png' alt='avatar' height='36' width='36')
                            .chat-body
                              .chat-message
                                p I will purchase it for sure. 👍
                                span.chat-time 3:32 PM
                              .chat-message
                                p Thanks.
                                span.chat-time 3:33 PM
                          .chat
                            .chat-avatar
                              a.avatar.m-0
                                img(src='/images/avatar-s-11.png' alt='avatar' height='36' width='36')
                            .chat-body
                              .chat-message
                                p Great, Feel free to get in touch on
                                span.chat-time 3:34 AM
                              .chat-message
                                p https://pixinvent.ticksy.com/
                                span.chat-time 3:35 AM
                    .card-footer.chat-footer.px-2.py-1.pb-0
                      form.d-flex.align-items-center(onsubmit='chatMessagesSend();' action='javascript:void(0);')
                        i.feather.icon-user.cursor-pointer
                        i.feather.icon-paperclip.ml-1.cursor-pointer
                        input.form-control.chat-message-send.mx-1(type='text' placeholder='Type your message here...')
                        button.btn.btn-primary.glow.send.d-lg-flex(type='submit')
                          i.feather.icon-play
                          span.d-none.d-lg-block.mx-50 Send
                  // chat card ends
                  // app chat window ends
                  // app chat profile right sidebar start
                  section.chat-profile
                    header.chat-profile-header.text-center.border-bottom
                      span.chat-profile-close
                        i.feather.icon-x
                      .my-2
                        img.round.mb-1(src='/images/avatar-s-26.png' alt='chat avatar' height='100' width='100')
                        h5.app-chat-user-name.mb-0 Elizabeth Elliott
                        span Devloper
                    .chat-profile-content.p-2
                      h6.mt-1 ABOUT
                      p
                        | It is a long established fact that a reader will be distracted by the readable content.
                      h6.mt-2 PERSONAL INFORMATION
                      ul.list-unstyled
                        li.mb-25 email@gmail.com
                        li +1(789) 950-7654
                  // app chat profile right sidebar ends
                  // END: Content
                  // BEGIN: Footer
                  footer.footer.fixed-bottom.footer-light.navbar-border
                    p.clearfix.blue-grey.lighten-2.text-sm-center.mb-0.px-2
                      span.float-md-left.d-block.d-md-inline-block
                        | Copyright  © 2020 
                        a.text-bold-800.grey.darken-2(href='https://1.envato.market/pixinvent_portfolio' target='_blank') PIXINVENT 			
                      span.float-md-right.d-none.d-lg-block
                        | Hand-crafted & Made with 
                        i.feather.icon-heart.pink
                  // END: Footer
                  // BEGIN: Vendor JS
                  script(src='/js/vendors.min.js')
                  // BEGIN Vendor JS
                  // BEGIN: Page Vendor JS
                  // END: Page Vendor JS
                  // BEGIN: Theme JS
                  script(src='/js/app-menu.min.js')
                  script(src='/js/app.min.js')
                  // END: Theme JS
                  // BEGIN: Page JS
                  script(src='/js/app-chat.min.js')
                  // END: Page JS
                  // END: Body
