block header
body.vertical-layout.vertical-menu-modern.2-columns.fixed-navbar
  nav.header-navbar.navbar-expand-lg.navbar.navbar-with-menu.fixed-top.navbar-semi-dark
    .navbar-wrapper
      .navbar-header
        ul.nav.navbar-nav.flex-row
          li.nav-item.mobile-menu.d-lg-none.mr-auto
            a.nav-link.nav-menu-main.menu-toggle.hidden-xs(href='#')
              i.feather.icon-menu.font-large-1
          li.nav-item.mr-auto
            a.navbar-brand(href='/f/index.html')
              img.brand-logo(alt='stack admin logo' src='/images/stack-logo-light.png')
              h2.brand-text JS
          li.nav-item.d-none.d-lg-block.nav-toggle
            a.nav-link.modern-nav-toggle.pr-0(data-toggle='collapse')
              i.toggle-icon.feather.icon-toggle-right.font-medium-3.white(data-ticon='feather.icon-toggle-right')
          li.nav-item.d-lg-none
            a.nav-link.open-navbar-container(data-toggle='collapse' data-target='#navbar-mobile')
              i.fa.fa-ellipsis-v
      .navbar-container.content
        #navbar-mobile.collapse.navbar-collapse
          ul.nav.navbar-nav.mr-auto.float-left
          ul.nav.navbar-nav.float-right
            //
              <li class="dropdown dropdown-language nav-item"><a class="dropdown-toggle nav-link" id="dropdown-flag" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="flag-icon flag-icon-gb"></i><span class="selected-language"></span></a>
              <div class="dropdown-menu" aria-labelledby="dropdown-flag"><a class="dropdown-item" href="#" data-language="en"><i class="flag-icon flag-icon-us"></i> English</a><a class="dropdown-item" href="#" data-language="fr"><i class="flag-icon flag-icon-fr"></i> French</a><a class="dropdown-item" href="#" data-language="pt"><i class="flag-icon flag-icon-pt"></i> Portuguese</a><a class="dropdown-item" href="#" data-language="de"><i class="flag-icon flag-icon-de"></i> German</a></div>
              </li>
            li.dropdown.dropdown-notification.nav-item
              a.nav-link.nav-link-label(href='#' data-toggle='dropdown')
                i.ficon.feather.icon-bell
                span.badge.badge-pill.badge-danger.badge-up 5
              ul.dropdown-menu.dropdown-menu-media.dropdown-menu-right
                li.dropdown-menu-header
                  h6.dropdown-header.m-0
                    span.grey.darken-2 Notifications
                    span.notification-tag.badge.badge-danger.float-right.m-0 5 New
                li.scrollable-container.media-list
                  a(href='javascript:void(0)')
                    .media
                      .media-left.align-self-center
                        i.feather.icon-plus-square.icon-bg-circle.bg-cyan
                      .media-body
                        h6.media-heading You have new order!
                        p.notification-text.font-small-3.text-muted Lorem ipsum dolor sit amet, consectetuer elit.
                        small
                          time.media-meta.text-muted(datetime='2015-06-11T18:29:20+08:00') 30 minutes ago
                  a(href='javascript:void(0)')
                    .media
                      .media-left.align-self-center
                        i.feather.icon-download-cloud.icon-bg-circle.bg-red.bg-darken-1
                      .media-body
                        h6.media-heading.red.darken-1 99% Server load
                        p.notification-text.font-small-3.text-muted Aliquam tincidunt mauris eu risus.
                        small
                          time.media-meta.text-muted(datetime='2015-06-11T18:29:20+08:00') Five hour ago
                  a(href='javascript:void(0)')
                    .media
                      .media-left.align-self-center
                        i.feather.icon-alert-triangle.icon-bg-circle.bg-yellow.bg-darken-3
                      .media-body
                        h6.media-heading.yellow.darken-3 Warning notifixation
                        p.notification-text.font-small-3.text-muted Vestibulum auctor dapibus neque.
                        small
                          time.media-meta.text-muted(datetime='2015-06-11T18:29:20+08:00') Today
                  a(href='javascript:void(0)')
                    .media
                      .media-left.align-self-center
                        i.feather.icon-check-circle.icon-bg-circle.bg-cyan
                      .media-body
                        h6.media-heading Complete the task
                        small
                          time.media-meta.text-muted(datetime='2015-06-11T18:29:20+08:00') Last week
                  a(href='javascript:void(0)')
                    .media
                      .media-left.align-self-center
                        i.feather.icon-file.icon-bg-circle.bg-teal
                      .media-body
                        h6.media-heading Generate monthly report
                        small
                          time.media-meta.text-muted(datetime='2015-06-11T18:29:20+08:00') Last month
                li.dropdown-menu-footer
                  a.dropdown-item.text-muted.text-center(href='javascript:void(0)') Read all notifications
            li.dropdown.dropdown-notification.nav-item
              a.nav-link.nav-link-label(href='#' data-toggle='dropdown')
                i.ficon.feather.icon-mail
                span.badge.badge-pill.badge-warning.badge-up 3
              ul.dropdown-menu.dropdown-menu-media.dropdown-menu-right
                li.dropdown-menu-header
                  h6.dropdown-header.m-0
                    span.grey.darken-2 Messages
                    span.notification-tag.badge.badge-warning.float-right.m-0 4 New
                li.scrollable-container.media-list
                  a(href='javascript:void(0)')
                    .media
                      .media-left
                        .avatar.avatar-online.avatar-sm.rounded-circle
                          img(src=`/uploads/${avatar}` alt='avatar')
                          i
                      .media-body
                        h6.media-heading Margaret Govan
                        p.notification-text.font-small-3.text-muted I like your portfolio, let&apos;s start.
                        small
                          time.media-meta.text-muted(datetime='2015-06-11T18:29:20+08:00') Today
                  a(href='javascript:void(0)')
                    .media
                      .media-left
                        span.avatar.avatar-sm.avatar-busy.rounded-circle
                          img(src='/images/avatar-s-2.png' alt='avatar')
                          i
                      .media-body
                        h6.media-heading Bret Lezama
                        p.notification-text.font-small-3.text-muted I have seen your work, there is
                        small
                          time.media-meta.text-muted(datetime='2015-06-11T18:29:20+08:00') Tuesday
                  a(href='javascript:void(0)')
                    .media
                      .media-left
                        .avatar.avatar-online.avatar-sm.rounded-circle
                          img(src=`/uploads/${avatar}` alt='avatar')
                          i
                      .media-body
                        h6.media-heading Carie Berra
                        p.notification-text.font-small-3.text-muted Can we have call in this week ?
                        small
                          time.media-meta.text-muted(datetime='2015-06-11T18:29:20+08:00') Friday
                  a(href='javascript:void(0)')
                    .media
                      .media-left
                        span.avatar.avatar-sm.avatar-away.rounded-circle
                          img(src='/images/avatar-s-6.png' alt='avatar')
                          i
                      .media-body
                        h6.media-heading Eric Alsobrook
                        p.notification-text.font-small-3.text-muted We have project party this saturday.
                        small
                          time.media-meta.text-muted(datetime='2015-06-11T18:29:20+08:00') last month
                li.dropdown-menu-footer
                  a.dropdown-item.text-muted.text-center(href='chat.html') Read all messages
            li.dropdown.dropdown-user.nav-item
              a.dropdown-toggle.nav-link.dropdown-user-link(href='#' data-toggle='dropdown')
                .avatar.avatar-online
                  img(src=`/uploads/${avatar}` alt='avatar')
                  i
                span.user-name Ram Ram
              .dropdown-menu.dropdown-menu-right
                a.dropdown-item(href='/user/getProfile')
                  i.feather.icon-user
                  |  Edit Profile
                a.dropdown-item(href='todo.html')
                  i.feather.icon-check-square
                  |  Task
                a.dropdown-item(href='chat.html')
                  i.feather.icon-message-square
                  |  Chats
                .dropdown-divider
                a.dropdown-item(href='/auth/logout')
                  i.feather.icon-power
                  |  Logout
  // END: Header
  // BEGIN: Main Menu
  .main-menu.menu-fixed.menu-dark.menu-accordion.menu-shadow(data-scroll-to-active='true')
    .main-menu-content
      ul#main-menu-navigation.navigation.navigation-main(data-menu='menu-navigation')
        li.navigation-header
          span T&#x1ED5;ng quan
          i.feather.icon-minus(data-toggle='tooltip' data-placement='right' data-original-title='General')
        li.nav-item
          a(href='index.html')
            i.feather.icon-layout
            span.menu-title(data-i18n='Layouts') B&#x1EA3;ng
          //
            <ul class="menu-content">
            <li><a class="menu-item" href="#" data-i18n="Page Layouts">Page Layouts</a>
            <ul class="menu-content">
            <li><a class="menu-item" href="layout-1-column.html" data-i18n="1 column">1 column</a>
            </li>
            <li><a class="menu-item" href="#" data-i18n="Content Det Sidebar">Content Det Sidebar</a>
            <ul class="menu-content">
            <li><a class="menu-item" href="layout-content-detached-left-sidebar.html" data-i18n="Detached left sidebar">Detached left sidebar</a>
            </li>
            </ul>
            </li>
            <li class="navigation-divider"></li>
            <li><a class="menu-item" href="layout-fixed-navbar.html" data-i18n="Fixed navbar">Fixed navbar</a>
            </li>
            <li class="navigation-divider"></li>
            <li><a class="menu-item" href="layout-fixed.html" data-i18n="Fixed layout">Fixed layout</a>
            </li>
            <li class="navigation-divider"></li>
            <li><a class="menu-item" href="layout-light.html" data-i18n="Light layout">Light layout</a>
            </li>
            </ul>
            </li>
            <li><a class="menu-item" href="#" data-i18n="Navbars">Navbars</a>
            <ul class="menu-content">
            <li><a class="menu-item" href="navbar-light.html" data-i18n="Navbar Light">Navbar Light</a>
            </li>
            <li><a class="menu-item" href="#" data-i18n="Hide on Scroll">Hide on Scroll</a>
            <ul class="menu-content">
            <li><a class="menu-item" href="navbar-hide-on-scroll-top.html" data-i18n="Hide on Scroll Top">Hide on Scroll Top</a>
            </li>
            </ul>
            </li>
            <li><a class="menu-item" href="navbar-components.html" data-i18n="Navbar Components">Navbar Components</a>
            </li>
            </ul>
            </li>
            <li><a class="menu-item" href="#" data-i18n="Vertical Nav">Vertical Nav</a>
            <ul class="menu-content">
            <li><a class="menu-item" href="#" data-i18n="Navigation Types">Navigation Types</a>
            <ul class="menu-content">
            <li><a class="menu-item" href="../vertical-menu-template" data-i18n="Vertical Menu">Vertical Menu</a>
            </li>
            </ul>
            </li>
            <li><a class="menu-item" href="vertical-nav-tags-pills.html" data-i18n="Tags &amp; Pills">Tags &amp; Pills</a>
            </li>
            </ul>
            </li>
            <li><a class="menu-item" href="#" data-i18n="Horizontal Nav">Horizontal Nav</a>
            <ul class="menu-content">
            <li><a class="menu-item" href="#" data-i18n="Navigation Types">Navigation Types</a>
            <ul class="menu-content">
            <li><a class="menu-item" href="../horizontal-menu-template" data-i18n="Classic">Classic</a>
            </li>
            <li><a class="menu-item" href="../horizontal-menu-template-nav" data-i18n="Nav Dark">Nav Dark</a>
            </li>
            </ul>
            </li>
            </ul>
            </li>
            <li><a class="menu-item" href="#" data-i18n="Page Headers">Page Headers</a>
            <ul class="menu-content">
            <li><a class="menu-item" href="headers-breadcrumbs-basic.html" data-i18n="Breadcrumbs basic">Breadcrumbs basic</a>
            </li>
            </ul>
            </li>
            <li><a class="menu-item" href="#" data-i18n="Footers">Footers</a>
            <ul class="menu-content">
            <li><a class="menu-item" href="footer-light.html" data-i18n="Footer Light">Footer Light</a>
            </li>
            </ul>
            </li>
            </ul>
        li.navigation-header(style='display: flex; justify-content: space-between')
          span C&aacute;c Nh&oacute;m
          i.feather.icon-minus(data-toggle='tooltip' data-placement='right' data-original-title='Apps')
          i.feather.icon-plus(href='' data-toggle='modal' data-target='#inlineForm')
        // Modal
        section
          #inlineForm.modal.fade.text-left(tabindex='-1' role='dialog' aria-labelledby='myModalLabel33' aria-hidden='true')
            .modal-dialog(role='document')
              .modal-content
                .modal-header
                  label#myModalLabel33.modal-title.text-text-bold-600 Th&ecirc;m ti&ecirc;u &dstrok;&#x1EC1; b&#x1EA3;ng
                  button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;
                form(action='#')
                  .modal-body
                    label Ti&ecirc;u &dstrok;&#x1EC1;: 
                    .form-group
                      input.form-control(type='text' placeholder='...')
                    .modal-footer
                      input.btn.btn-outline-secondary.btn-lg(type='reset' data-dismiss='modal' value='Đóng')
                      input.btn.btn-outline-primary.btn-lg(type='submit' value='Thêm bảng')
        li.nav-item
          a(href='')
            i.feather.icon-users
            span.menu-title(data-i18n='Contacts') Front-end
          ul.menu-content
            li
              a.menu-item(href='alltable.html' data-i18n='Page Layouts') B&#x1EA3;ng
            li
              a.menu-item(href='member.html' data-i18n='Page Layouts') Th&agrave;nh vi&ecirc;n
            li
              a.menu-item(href='todo.html' data-i18n='Page Layouts') Vi&#x1EC7;c c&#x1EA7;n l&agrave;m
        li.nav-item
          a(href='')
            i.feather.icon-users
            span.menu-title(data-i18n='Contacts') Intership
          ul.menu-content
            li
              a.menu-item(href='alltable.html' data-i18n='Page Layouts') B&#x1EA3;ng
            li
              a.menu-item(href='member.html' data-i18n='Page Layouts') Th&agrave;nh vi&ecirc;n
            li
              a.menu-item(href='todo.html' data-i18n='Page Layouts') Vi&#x1EC7;c c&#x1EA7;n l&agrave;m
        li.nav-item
          a(href='')
            i.feather.icon-users
            span.menu-title(data-i18n='Contacts') Web project
          ul.menu-content
            li
              a.menu-item(href='alltable.html' data-i18n='Page Layouts') B&#x1EA3;ng
            li
              a.menu-item(href='member.html' data-i18n='Page Layouts') Th&agrave;nh vi&ecirc;n
            li
              a.menu-item(href='todo.html' data-i18n='Page Layouts') Vi&#x1EC7;c c&#x1EA7;n l&agrave;m
        //
          <li class=" nav-item"><a href="chat.html"><i class="feather icon-message-square"></i><span class="menu-title" data-i18n="Chat Application">Chat Application</span></a>
          </li>
          <li class=" nav-item"><a href="todo.html"><i class="feather icon-check-square"></i><span class="menu-title" data-i18n="Todo Application">Todo Application</span></a>
          </li>
          <li class=" nav-item"><a href="table.html"><i class="feather icon-file-plus"></i><span class="menu-title" data-i18n="Kanban Application">Kanban Application</span></a>
          </li>
          <li class=" nav-item"><a href="member.html"><i class="feather icon-users"></i><span class="menu-title" data-i18n="Contacts">Thành viên</span></a>
          </li>
        li.navigation-header
          span C&aacute;c Trang
          i.feather.icon-minus(data-toggle='tooltip' data-placement='right' data-original-title='Pages')
        li.nav-item
          a(href='calendar.html')
            i.feather.icon-plus-square
            span.menu-title(data-i18n='Calender') Calender
  // END: Main Menu
  // BEGIN: Content
  block content
  // END: Content
  // BEGIN: Footer
  block footer

