doctype html
html.loading(lang='en' data-textdirection='ltr')
  // BEGIN: Head
  head
    meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui')
    meta(name='description' content='Stack admin is super flexible, powerful, clean & modern responsive bootstrap 4 admin template with unlimited possibilities.')
    meta(name='keywords' content='admin template, stack admin template, dashboard template, flat admin template, responsive admin template, web app')
    meta(name='author' content='PIXINVENT')
    title Recover Password - Stack Responsive Bootstrap 4 Admin Template
    link(rel='apple-touch-icon' href='/images/apple-icon-120.png')
    link(rel='shortcut icon' type='image/x-icon' href='/images/favicon.ico')
    link(href='https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i%7COpen+Sans:300,300i,400,400i,600,600i,700,700i' rel='stylesheet')
    // BEGIN: Vendor CSS
    link(rel='stylesheet' type='text/css' href='/css/vendors.min.css')
    // END: Vendor CSS
    // BEGIN: Theme CSS
    link(rel='stylesheet' type='text/css' href='/css/bootstrap.min.css')
    link(rel='stylesheet' type='text/css' href='/css/bootstrap-extended.min.css')
    link(rel='stylesheet' type='text/css' href='/css/colors.min.css')
    link(rel='stylesheet' type='text/css' href='/css/components.min.css')
    // END: Theme CSS
    // BEGIN: Page CSS
    link(rel='stylesheet' type='text/css' href='/css/vertical-menu-modern.css')
    link(rel='stylesheet' type='text/css' href='/css/palette-gradient.min.css')
    // END: Page CSS
    // BEGIN: Custom CSS
    link(rel='stylesheet' type='text/css' href='/css/style.css')
    // END: Custom CSS
    // END: Head
    // BEGIN: Body
    body.vertical-layout.vertical-menu-modern.1-column.blank-page.blank-page(data-open='click' data-menu='vertical-menu-modern' data-col='1-column')
      // BEGIN: Content
      .app-content.content
        .content-overlay
        .content-wrapper
          .content-header.row
          .content-body
            section.row.flexbox-container
              .col-12.d-flex.align-items-center.justify-content-center
                .col-lg-4.col-md-8.col-10.box-shadow-2.p-0
                  .card.border-grey.border-lighten-3.px-2.py-2.m-0
                    .card-header.border-0.pb-0
                      .card-title.text-center
                        img(src='' alt='branding logo')
                      h6.card-subtitle.line-on-side.text-muted.text-center.font-small-3.pt-2
                        span
                          | We will send
                          | you a link to reset password.
                    .card-content
                      .card-body
                        form.form-horizontal(action='login-simple.html' novalidate='')
                          fieldset.form-group.position-relative.has-icon-left
                            input#user-email.form-control.form-control-lg(type='email' placeholder='Your Email Address' required='')
                            .form-control-position
                              i.feather.icon-mail
                          button.btn.btn-outline-primary.btn-lg.btn-block(type='submit')
                            i.feather.icon-unlock
                            |  Recover Password
                    .card-footer.border-0
                      p.float-sm-left.text-center
                        a.card-link(href='login.html') Login
                      p.float-sm-right.text-center
                        | New to Stack ? 
                        a.card-link(href='register.html') Create Account
      // END: Content
      // BEGIN: Vendor JS
      script(src='/js/vendors.min.js')
      // BEGIN Vendor JS
      // BEGIN: Page Vendor JS
      script(src='/js/jqBootstrapValidation.js')
      // END: Page Vendor JS
      // BEGIN: Theme JS
      script(src='/js/app-menu.min.js')
      script(src='/js/app.min.js')
      // END: Theme JS
      // BEGIN: Page JS
      script(src='/js/form-login-register.min.js')
      // END: Page JS
      // END: Body
